@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head h1 {
    text-align: center;
    text-transform: uppercase;
    background: #09cff1;
    color: white;
}

.entrybox {
    background: #da9090;
    padding: 1rem;

}

.inputbox {
    display: block;
    width: 40vw;
    margin: 1rem auto;
    padding: 7px;
    border-radius: 7px;
    border: none;
    font-size: 3vw;
}

.inputbox:focus {
    outline: none;
}

.loginbtn button {
    display: block;
    font-size: 3vw;
    background: #bdf53b;
    width: 10rem;
    margin: 0 auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.info {
    display: none;
    padding: 1rem;
    background: rgb(201, 126, 126);
}

.det {
    margin: 10px;
    background: #012533;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 0.5rem;
}